h1 {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 600;
  margin: 0.25em 0.5em;
}

h2 {
  font-family: 'Roboto';
  font-size: 14px;
  font-weight:400;
  margin: 0.25em 0.5em;
}

ion-avatar {
  margin-right: 1.5em;
}
