ion-icon {
  color: #5424FD;
  width: 20px;
  height: 20px;
}

ion-card-title {
  font-size: 18px;
}

ion-card {
  border-radius: 24px;
  background-color: rgba(196, 196, 196, 0.2);
  margin-right: 30px;
  margin-left: 30px;
}

ion-card-content {
  color: #1F1F1F;
}
