ion-card-content {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  color: white;

  ion-chip {
    font-size: 13px;
    color: white;
    border-color: white;

    ion-icon {
      width: 15px;
      color: white;
    }
  }
}

ion-card-title, ion-card-subtitle  {
  color: white;
}

ion-card {
  border-radius: 24px;
}

.details-div {
  background-color: #2B2B2B;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 1em;
  margin-top: 15px;
}

.posted {
  font-size: 12px;
  align-items: center;
  justify-content: center;
  gap: 5px;
  display: flex;
  font-weight: 500;

}
.wage {
  font-size: 18px;
  font-weight: 800;
}

#company-img {
  height: 50px;
  width: 50px;
}

#company-img-col {
  margin-right: 10px;
}

#chips-container {
  margin-bottom: 15px;
  margin-left: 1em;
}

#short-description {
  margin-left: 1.5em;
}
