<ion-content  class="main-content" [fullscreen]="true" [scrollY]="false">
  <ion-img [src]="this.logoImg" class="logo"></ion-img>
  <ion-text>
    <h1>Welcome back</h1>
  </ion-text>
  <ion-text>
    <h2>
      Glad to see you again. Let’s see what’s new and the job offers that we have for you today
    </h2>
  </ion-text>

  <div class="inputs">
    <div class="input">
      <ion-label>Email</ion-label>
      <ion-input type="email" [(ngModel)]="email" class="my-input" placeholder=" Enter your email"></ion-input>
    </div>

    <div class="input">
      <ion-label>Password</ion-label>
      <ion-input type="password" [(ngModel)]="password" class="my-input" placeholder=" Enter your password"></ion-input>
    </div>
  </div>


  <div class="button">
    <ion-button (click)="login()" class="start-button">
      Login
    </ion-button>
  </div>
</ion-content>
