<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start">Back</ion-back-button>
    <ion-title>Application</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="container">
  <div class="content">
    <ion-text class="title">Full name</ion-text>
    <ion-text>Simon Teodor Rusu Stratulat</ion-text>
  </div>
  <div class="content">
    <ion-text class="title">Website, blog, or portfolio</ion-text>
    <ion-text>simon@simon.com</ion-text>
  </div>
  <div class="content" (click)="openWebsite()">
    <ion-text class="title">CV</ion-text>
    <ion-row>
      <ion-col size="2">
        <img [src]="cvImg" />
      </ion-col>
      <ion-col>
        <ion-row>
          <ion-text>Simon Rusu - CV - Developer</ion-text>
        </ion-row>
        <ion-row>
          <ion-text><ion-text>951 Kb · 25 Apr 2023 at 11:30 am</ion-text></ion-text>
        </ion-row>


      </ion-col>
    </ion-row>


  </div>
  <div class="content">
    <ion-text class="title">Cover letter</ion-text>
    <ion-text>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
    </ion-text>
  </div>

  <div class="button-container">
    <ion-button>Get in contact</ion-button>
    <ion-button fill="outline" id="reject">Reject application</ion-button>
  </div>

</ion-content>
