<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-align-items-center">
  <div class="greetings-container">
    <ion-text class="greetings">
      Hello {{userDetails?.name}} ✅
    </ion-text>
    <ion-avatar>
      <img [src]="profileImg" />
    </ion-avatar>
  </div>
  <ion-row>
    <ion-col>
      <ion-text>
        <h1>Your job offers</h1>
      </ion-text>
    </ion-col>
    <ion-col size="2" class="fab-container">
      <ion-fab>
        <ion-fab-button (click)="addJobOffer()">
          <ion-icon name="add" ></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-col>
  </ion-row>

  <app-job-offers-card *ngFor="let companyJobOffer of companyJobOffers; let i = index" [jobOffer]="companyJobOffer" [color]="colors[i % colors.length]" [company]="true">
  </app-job-offers-card>
</ion-content>
