<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Account</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-align-items-center">
  <div class="greetings-container">
    <ion-text class="greetings">
      Hello {{userDetails?.name}} 👋
    </ion-text>
    <ion-avatar>
      <img [src]="profileImg" />
    </ion-avatar>
  </div>
  <ion-text>
    <h1>Find Jobs</h1>
  </ion-text>
  <div class="filters-container">
    <ion-chip *ngFor="let filter of filters" [color]="selectedFilter === filter ? 'tertiary' : 'medium'" (click)="onFilterSelected(filter)">
      <ion-label>{{ filter }}</ion-label>
    </ion-chip>
  </div>
  <app-job-offers-card *ngFor="let jobOffer of jobOffers; let i = index" [jobOffer]="jobOffer" [color]="colors[i % colors.length]">
  </app-job-offers-card>
</ion-content>