<ion-content [fullscreen]="true" class="ion-align-items-center">
  <div class="greetings-container">
    <ion-text class="greetings">
      Hello Simon 👋
    </ion-text>
    <ion-avatar>
      <img [src]="profileImg" />
    </ion-avatar>
  </div>
  <ion-text>
    <h1>Find Jobs</h1>
  </ion-text>
  <div class="filters-container">
    <ion-chip *ngFor="let filter of filters" [color]="selectedFilter === filter ? 'tertiary' : 'medium'" (click)="selectedFilter = filter">
      <ion-label>{{ filter }}</ion-label>
    </ion-chip>
  </div>
  <app-job-offers-card *ngFor="let jobOffer of jobOffers" [jobOffer]="jobOffer"></app-job-offers-card>
</ion-content>
