<ion-content [fullscreen]="true" class="ion-align-items-center">
  <div class="greetings-container">
    <ion-text class="greetings">
      Hello Simon 👋
    </ion-text>
    <ion-avatar>
      <img [src]="profileImg" />
    </ion-avatar>
  </div>
  <ion-text>
    <h1>Find Jobs</h1>
  </ion-text>
  <div class="filters-container">
    <ion-chip *ngFor="let filter of filters" [color]="selectedFilter === filter ? 'tertiary' : 'medium'" (click)="selectedFilter = filter">
      <ion-label>{{ filter }}</ion-label>
    </ion-chip>
  </div>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Google</ion-card-subtitle>
      <ion-card-title>Senior UX Designer</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-chip color="primary" mode="ios" outline="true">
          <ion-icon name="location-outline" color="primary"></ion-icon>
          <ion-label>New York</ion-label>
        </ion-chip>
        <ion-chip color="primary" mode="ios" outline="true">
          <ion-icon name="person-outline" color="primary"></ion-icon>
          <ion-label>3 years exp.</ion-label>
        </ion-chip>
        <ion-chip color="primary" mode="ios" outline="true">
          <ion-icon name="time-outline" color="primary"></ion-icon>
          <ion-label>Fulltime</ion-label>
        </ion-chip>
      </ion-row>
      <ion-row>
        <ion-text>
          UX Designers are the synthesis of design and development. They take Google's most innovative product concepts...Read More
        </ion-text>
      </ion-row>
      
    </ion-card-content>
  </ion-card>


</ion-content>
