<ion-card [style.background-color]="color" (click)="navigateToDetails()">
  <ion-card-header>

    <ion-row>
      <ion-col size="2" id="company-img-col">
        <div *ngIf="imageLoaded; else noImage">
          <ion-img [src]=jobOfferImage id="company-img"></ion-img>
        </div>

        <ng-template #noImage>
          <ion-skeleton-text [animated]="true"></ion-skeleton-text>
        </ng-template>

      </ion-col>
      <ion-col>
        <ion-card-subtitle>{{jobOffer.company}}</ion-card-subtitle>
        <ion-card-title>{{jobOffer.title}}</ion-card-title>
      </ion-col>
    </ion-row>
  </ion-card-header>
  <ion-card-content>
    <ion-row id="chips-container">
      <ion-chip color="primary" mode="ios" outline="true">
        <ion-icon name="location-outline"></ion-icon>
        <ion-label>{{jobOffer.workPlace}}</ion-label>
      </ion-chip>
      <ion-chip color="primary" mode="ios" outline="true">
        <ion-icon name="person-outline"></ion-icon>
        <ion-label>{{jobOffer.skills[0]}}</ion-label>
      </ion-chip>
      <ion-chip color="primary" mode="ios" outline="true">
        <ion-icon name="time-outline"></ion-icon>
        <ion-label>{{jobOffer.jobType}}</ion-label>
      </ion-chip>
    </ion-row>
    <ion-row>
      <ion-text id="short-description">
        {{jobOffer.offerDescription}}
      </ion-text>
      <div class="details-div">
        <div class="posted">
          <ion-icon name="time-outline"></ion-icon>
          <ion-text>Posted {{getPostedDays()}} days ago</ion-text>
        </div>
        <ion-text class="wage">{{jobOffer.salary}}</ion-text>
      </div>
    </ion-row>

  </ion-card-content>
</ion-card>
