<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start">Back</ion-back-button>
    <ion-title>Job Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-job-offers-short-card [jobOffer]="jobOffer" [color]="color"></app-job-offers-short-card>
  <app-job-details-card [icon]="'pencil-outline'" [title]="'Job Description'" [description]="jobOffer.offerDescription">
  </app-job-details-card>
  <app-job-details-card [icon]="'checkbox-outline'" [title]="'Skills & Requirements'" [description]="jobOffer.skills">
  </app-job-details-card>
  <app-job-details-card [icon]="'person-outline'" [title]="'Your Role'" [description]="jobOffer.roleDescription">
  </app-job-details-card>
  <div class="btn-space"></div>

  <div id="btn">
    <ion-fab-button (click)="goToApplyJob()">
      Apply now
    </ion-fab-button>
  </div>
</ion-content>
